@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-family: 'Noto Sans JP', sans-serif;
}

.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}

/* ナビゲーション */
nav{
    height: 10vh;
    background-color: rgb(245, 245, 245);
}

.link{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    /*background-color: #f00;*/
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.link li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
}

/*　スマホやタブレットの時のみハンバーガーメニューを表示　*/
/*　画像が760pxより小さい場合のみ以下のcssが適用される　*/
@media screen and (max-width: 760px){
    .buns,.patty{
        width: 30px;
        height: 3px;
        background: #ff5b00;
        margin: 5px;
    }
    /*　ナビゲーション　*/
    nav{
        position: relative;
    }
    /*　ハンバーガーメニュー　*/
    .menu{
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translate(-5% , -50%);
        cursor: pointer;
        z-index: 2;
    }
    /*　リンク　*/
    .link{
        position: fixed;
        background-color: rgb(245, 245, 245);
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-in-out;
    }
    /*　後でjsで使うためのクラス　*/
    .open{
        clip-path: circle(1100px at 90% -10%);
        -webkit-clip-path: circle(1100px at 90% -10%);
    }
}

.circle {	
    position: fixed;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ff0000;
    bottom: 10vh;
    right: 5vw;
}
  
.circle span {
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    font-weight: 700;
    position: absolute;
    display: inline-block;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width :80px;
    text-align:center;
}
footer {
    width: 100%;
    height: 120px; 
    text-align: center;
    padding: 50px 0;
    background-color: rgb(245, 245, 245);
    bottom: 0;
}
.footer-text {
    color: #fff;
}